.Thread-main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 2px solid #eee;
    padding: 15px 0px;
    margin-bottom: 20px;
    position: relative;
}

.Title-thread{
    flex: 6;
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
}

.Announcement-button{
    background-color: white;
    border: 0px solid white;
    color: black;
    text-align: left;
    display: inline-block;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.Announcement-button p{
    font-weight: lighter;
    font-weight: 18px;
}

.thread-info{
    flex: 1;
    justify-content: center;
    margin-left: 30px;
}

.thread-count{
    display: flex;
}

.post-count{
    display: flex;
}

.profile-info{
    display: flex;
    flex-direction: column;
}

.profile-info-picture {
    width: 100px;
    height: 100px;
    margin: auto;
}

.recent-post-wrapper{
    display: flex;
    flex-direction: column;
    padding: 5px;
    text-align: center;
}

.recent-thread-name{
    display: flex;
    flex-direction: row;
}

.recent-user-post-profile-name{
    display: flex;
    flex-direction: row;
}

.threadDesc{
    font-family: "Varela Round", sans-serif;
    font-size: 16px;
    color: #444;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.number-posts{
    position: absolute;
    display: flex;
    bottom: 0px;
    right: 20px;
    flex-direction: row;
}

.number-posts p {
    margin-left: 5px;
}