.SignupPage {
    height: calc(100vh - 4rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.SignupCard form {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.SignupCard {
    width: 90%;
    max-width: 21rem;
    margin: 0 auto;
    text-align: center;
}